name: macOS Build

on:
  push:
    branches: [ "release" ]
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Get Short SHA
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build DMG
        run: ./gradlew packageDmg

      - name: Rename DMG
        run: |
          mv composeApp/build/compose/binaries/main/dmg/*.dmg composeApp/build/compose/binaries/main/dmg/weppy.${{ env.SHORT_SHA }}.dmg

      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: weppy-macos-${{ env.SHORT_SHA }}
          path: composeApp/build/compose/binaries/main/dmg/weppy.${{ env.SHORT_SHA }}.dmg
